
body {
  margin: 0px;
  padding: 0px; 
background: #ca7272;

}
p {
  font-family: sans-serif
}
iframe{
  display: block;
  margin: 20px auto;
}

h2 {
  margin: 10px;
    font-family: 'Black And White Picture';
  font-size: 50px;

}
h1 {
  
  font-weight: bold;
  font-family: 'Black And White Picture';
  font-size: 50px;
   margin: 10px;

  
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #000000;
}

ul li {
  float: left;
}

ul li a {
  display: block;
  color: #a2444c;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul li a:hover {
  background-color: #5b2328;
}

.container{
  display: flex;
  justify-content: center;
}
img {
  height: 600; 
  width: auto;
  justify-content: center; 
}
 .container-3{
  display:flex;
  flex-direction: column;
  align-items:center;
 margin-left: 40px;
  flex-wrap: nowrap;
   width: 600;
}
.big-container {
  display: flex;
  flex-direction: row; 
  align-items: flex-start;
  justify-content: center;
}
 .container-2 {
  width: 1500px; 
  margin-left: auto;
  margin-right: auto;


}
 


